{% extends 'base.html.twig' %}

{% block title %}Categories index
{% endblock %}

{% block body %}
	<div class="d-flex flex-column gap-4" style="padding: 0 4rem;">
		<h1>Categories index</h1>

		<table class="table">
			<thead>
				<tr>
					<th>Id</th>
					<th>Category_title</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				{% for category in categories %}
					<tr>
						<td>{{ category.id }}</td>
						<td>{{ category.categoryTitle }}</td>
						<td>
							<button class="btn btn-secondary">
								<a href="{{ path('app_categories_show', {'id': category.id}) }}" class="text-light text-decoration-none">Show</a>
							</button>
							<button class="btn btn-secondary">
								<a href="{{ path('app_categories_edit', {'id': category.id}) }}" class="text-light text-decoration-none">Edit</a>
							</button>
						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="3">no records found</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>

		<button type="button" class="btn btn-primary" style="width: fit-content">
			<a href="{{ path('app_categories_new') }}" class="text-light text-decoration-none">Add category</a>
		</button>
	</div>

{% endblock %}
