{{ form_start(form) }}
<div class="d-flex flex-column align-items-center gap-4">
	<div class="form-group col-12">
		{{ form_label(form.title, 'Title:' ,{'label_attr': {'class': 'form-control-label'}}) }}
		{{ form_widget(form.title, {'attr': {'class': 'form-control'}}) }}
	</div>
	<div class="form-group col-12">
		{{ form_label(form.description, 'Description:' ,{'label_attr': {'class': 'form-control-label'}}) }}
		{{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
	</div>
	<div class="form-group col-12">
		{{ form_label(form.content, 'Content:' ,{'label_attr': {'class': 'form-control-label'}}) }}
		{{ form_widget(form.content, {'attr': {'class': 'form-control'}}) }}
	</div>
	<div class="form-group col-12">
		{{ form_label(form.cover, 'Cover image:' ,{'label_attr': {'class': 'form-control-label'}}) }}
		{{ form_widget(form.cover, {'attr': {'class': 'form-control'}}) }}
	</div>
</div>

{{ form_rest(form) }}
{# Renders the CSRF token field #}

<button class="btn btn-primary mt-4">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
