{% extends 'base.html.twig' %}

{% block title %}
	{{ article.title }}
{% endblock %}

{% block body %}
	<div class="container">
		<div class="row justify-content-center align-items-center gap-4">
			<div class="col-md-6 d-flex flex-column gap-2">
				<h1 class="text-center fs-1">
					<strong>{{ article.title }}</strong>
				</h1>
				<p class="text-center">{{ article.description }}</p>
			</div>
		</div>

		<div class="row justify-content-center my-4">
			<div class="col-md-10">
				<img src="{{ asset('uploads/covers/' ~ article.coverImage) }}" class="img-fluid">
			</div>
		</div>

		<div class="row justify-content-center">
			<div class="col-md-8 border-top border-2 border-black pt-4 mb-4">
				<div class="d-flex align-items-center justify-content-between">
					<div class="d-flex align-items-center gap-3">
						<div class="rounded-circle overflow-hidden" style="width: 50px; height: 50px;">
							{% if user.avatar %}
								<img src="{{ asset('uploads/avatars/' ~ user.avatar) }}" alt="Avatar de {{ user.email }}" class="h-100 w-100 object-fit-cover">
							{% else %}
								<div class="h-100 w-100" style="background: #ccc;"></div>
							{% endif %}
						</div>

						<div class="d-flex flex-column">
							<p class="mb-0">
								<strong>{{ user.email }}</strong>
							</p>
							<p class="mb-0">{{ article.date|date('d/m/Y - H:i') }}</p>
						</div>
					</div>

					{% if user.twitterLink or user.facebookLink %}
						<div class="d-flex align-items-center">
							{% if user.twitterLink %}
								<a href="{{ user.twitterLink }}" class="btn btn-outline-secondary px-4" style="border-top-right-radius: 0; border-bottom-right-radius: 0; border-right: 0">
									<i class="fab fa-twitter text-black"></i>
								</a>
							{% endif %}
							{% if user.facebookLink %}
								<a href="{{ user.facebookLink }}" class="btn btn-outline-secondary px-4" style="border-top-left-radius: 0; border-bottom-left-radius: 0">
									<i class="fab fa-facebook text-black"></i>
								</a>
							{% endif %}
						</div>
					{% endif %}
				</div>
			</div>
		</div>

		<div class="row justify-content-center mt-4">
			<div class="col-md-8">
				{% set modifiedContent = article.content %}
				{% set modifiedContent = modifiedContent|replace({'<img ': '<img style="width: 100%; object-fit: cover;" '}) %}
				{{ modifiedContent|raw }}
			</div>
		</div>

		<div class="row justify-content-center mt-4">
			<div class="col-md-8">
				<p>Tags :</p>
				{% for category in article.categories %}
					{{ category }}
				{% endfor %}
			</div>
		</div>

	<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-8">
            <h2>Comments</h2>
        </div>
    </div>

    <!-- Comment Form -->
    <div class="row justify-content-center mt-3">
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Leave a Comment</h5>
                    <iframe class="comment-iframe" src="{{ path('app_comments_new') }}" frameborder="0" scrolling="no"></iframe>
                </div>
            </div>
        </div>
    </div>

    <!-- Comment Section -->
    <div class="row justify-content-center mt-5">
        <div class="col-md-8">
            <h3>Previous Comments</h3>
            {% include 'comments/showByArticles.html.twig' with {'comments': comments} %}
        </div>
    </div>
</div>

{% endblock %}
