{{ form_start(form) }}

<div class="d-flex flex-column align-items-center gap-4">
	<div class="form-group col-12">
		{{ form_label(form.content, 'Leave a Comment:', {'label_attr': {'class': 'form-control-label'}}) }}
		{{ form_widget(form.content, {'attr': {'class': 'form-control'}}) }}
	</div>

	<div class="form-group mt-4">
		<button class="btn btn-primary">{{ button_label|default('Post Comment') }}</button>
	</div>
</div>

{{ form_end(form) }}
