{{ form_start(form) }}

<div class="comment-form">
    <div class="form-group mb-4">
        {{ form_label(form.content, 'Leave a Comment:', {'label_attr': {'class': 'form-control-label'}}) }}
        {{ form_widget(form.content, {'attr': {'class': 'form-control', 'style': 'width: 300px'}}) }}
    </div>

    <div class="form-group mt-4">
        <button class="btn btn-primary">{{ button_label|default('Post Comment') }}</button>
    </div>
</div>

{{ form_end(form) }}