{% block body %}
	{% if comments is empty %}
		<p>No comments yet.</p>
	{% else %}
		{% for comment in comments %}
			<div class="d-flex flex-column gap-4 bg-light rounded-3 p-4">
				<div class="d-flex align-items-center gap-2">
					<div class="rounded-circle overflow-hidden" style="width: 50px; height: 50px;">
						{% if user.avatar %}
							<img src="{{ asset('uploads/avatars/' ~ user.avatar) }}" alt="Avatar de {{ user.email }}" class="h-100 w-100 object-fit-cover">
						{% else %}
							<div class="h-100 w-100" style="background: #ccc;"></div>
						{% endif %}
					</div>
					{{ comment.user.email }}
				</div>

				{{ comment.content }}

				{% if comment.user == app.user or is_granted('ROLE_ADMIN') %}
					<div class="d-flex gap-2">
						<button class="btn btn-primary">
							<a href="{{ path('app_comments_edit', {'id': comment.id}) }}" class="text-decoration-none text-light">Edit</a>
						</button>

						<form method="post" action="{{ path('app_comments_delete', {'id': comment.id}) }}" onsubmit="return confirm('Are you sure you want to delete this comment?')">
							<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ comment.id) }}">
							<button type="submit" class="btn btn-primary">Delete</button>
						</form>
					</div>
				{% endif %}
			</div>
		{% endfor %}
	{% endif %}
{% endblock %}
